<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830535385859-rj8p2gs7kmba7aoeag2upa3sdfnr37v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830535385859-rj8p2gs7kmba7aoeag2upa3sdfnr37v3</string>
	<key>API_KEY</key>
	<string>AIzaSyAye4L7KtzwVSdamyTXSiCv8qtOz6yRwIs</string>
	<key>GCM_SENDER_ID</key>
	<string>830535385859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghosh.crudApp</string>
	<key>PROJECT_ID</key>
	<string>bmi-e5488</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-e5488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830535385859:ios:5899e67a631173a2a15f36</string>
	<key>DATABASE_URL</key>
	<string>https://bmi-e5488.firebaseio.com</string>
</dict>
</plist>